:root {
    --local-main-color: #427f05;
    --local-main-bg: #eff2eb;
    --local-boxshadow: 0 0 10px rgba(0, 0, 0, 0.16);
	--local-boxshadow-buttonhover: 0 4px 12px rgba(0,0,0,.1),0 12px 24px -12px rgba(0,0,0,.2);
    --local-button-padding: 12px 24px;
    --local-button-min-width: 40%;
}


@media (min-width: 960px) {
    :root {
        --local-button-min-width: 40%;
    }
}

/*************************
ヘッダー
***************************/
/* ヘッダー追従 */
.l-header {
	position: sticky;
}

/* ハンバーガーメニュ-のタイトル*/
.p-spMenu__body > .c-widget__title.-spmenu {
    display: none;
}

/* お問い合わせページ */
.page.page-id-42 .w-pageBottom {
	display: none;
}

/* 固定ページ タイトル */
.l-topTitleArea.c-filterLayer.-texture-dot:after {
	background-color: var(--color_htag);
	background-image: unset;
	opacity: 1;
}

.l-topTitleArea .c-pageTitle {
	font-size: 2.8rem;
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
}

/* フッター上メニュー */
@media (min-width: 960px) {
	.w-footer.-col2 {
		display: grid;
		grid-template-columns: 1fr 2fr;
	}
}


/* フッターのSNS */
.widget_swell_sns_links .c-iconList {
	justify-content: flex-start;
	column-gap: 4px;
}

/* フッター サイトマップ */
.l-container.w-footer p.has-text-align-left {
	padding-bottom: 8px;
	border-bottom: 1px solid #427f05;
}

.l-container.w-footer .swell-block-linkList__link {
	display: inline-flex;
}

.l-container.w-footer .p-blogParts .wp-block-columns{
	--the-gap: .75em;
	row-gap: var(--the-gap) !important;
}

/*************************
カスタムブロックのデザイン調整
***************************/
/* h2タイトル*/
h2.wp-block-heading.is-style-section_ttl {
	padding-bottom: 8px !important;
}

h2.wp-block-heading.is-style-section_ttl:after {
	content: "" !important;
	position: absolute;
	width: 60px;
	height: 2px;
	background-color: #427f05;
	left: 50%;
	bottom: 0;
	transform: translate(-50%, -50%);
}

h2.wp-block-heading > small {
	font-size: .4em !important;
}

/* 
 * TOPページ
 */
/* お知らせ */
.top > #content.l-content.l-container {
    padding-top: 0;
}

.swell-block-fullWide:has(.p-postListWrap) {
    background-color: var(--local-main-color);
    padding-top: 0;
    padding-bottom: 0;
}


.swell-block-fullWide:has(.p-postListWrap) .swell-block-fullWide__inner p {
    margin: 0 !important;
}

.swell-block-fullWide:has(.p-postListWrap) .p-postList,
.swell-block-fullWide:has(.p-postListWrap) .p-postList__link {
    color: #fff;
    border: none;
}
.swell-block-fullWide:has(.p-postListWrap) .p-postList,
.swell-block-fullWide:has(.p-postListWrap) .p-postList__link {
    color: #fff;
    border: none;
    transition: opacity .2s;
}
.swell-block-fullWide:has(.p-postListWrap) .p-postList__link:hover {
    background-color: var(--local-main-color);
    opacity: .7;
}

.swell-block-fullWide:has(.p-postListWrap) .p-postList__body {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 16px;
}

.swell-block-fullWide:has(.p-postListWrap) .p-postList__body > .p-postList__meta {
    font-size: .8em;
    align-items: start;
}

.swell-block-fullWide:has(.p-postListWrap) .p-postList__body .icon-posted::before {
    display: none;
}

/* お知らせ PC */
@media (min-width: 960px) {
    .swell-block-fullWide:has(.p-postListWrap) .p-postList__body {
        grid-template-columns: auto 1fr;
    }
}

/* 私たちについて */
.u-topAbout {
    max-width: 550px;
    margin-inline: auto;
}

.u-topAbout__layout {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px 32px;
    width: 100%;
    align-items: center;
}

.u-topAbout__circle {
    display: grid;
    margin-inline: auto;
    width: 100%;
}

.u-topAbout__circle::after {
    content: "";
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
    border-radius: 25em;
    padding-top: 100%;
    width: 100%;
}

.u-topAbout__circleInner {
    position: relative;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 8px;
    padding: 42px;
    z-index: 1;
}

.u-topAbout__circleText {
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    width: 100%;
    color: var(--local-main-color);
}

.u-topAbout__content {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.u-topAbout__buttonWrap {
    text-align: center;
}

.u-topAbout__button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: var(--local-button-min-width);
    padding: var(--local-button-padding);
    box-shadow: var(--swl-btn_shadow);
    color: #fff;
    text-decoration: none;
    border-radius: 25em;
    transition: box-shadow .2s;
    background-color: var(--local-main-color);
    font-weight: bold;
}

/* 私たちについて PC */
@media (min-width: 960px) {
    .u-topAbout {
        max-width: none;
    }

    .u-topAbout__layout {
        grid-template-columns: repeat(2, 1fr);
    }

    .u-topAbout__button:hover {
        box-shadow: var(--local-boxshadow-buttonhover);
    }
}

/* サービス */
.u-topService {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
    list-style: none;
    padding-left: 0 !important;
    width: 100%;
}

.u-topService__item {
    height: 100%;
    text-align: center;
} 

.u-topService__link {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    background-color: #fff;
    padding: 24px;
    text-decoration: none;
    transition: box-shadow .2s;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    color: #333;
    height: 100%;
}

.u-topService__title {
    color: #427f05;
    font-size: 1.125em;
}

.u-topService__media {
    height: 80px;
}

.u-topService__image {
    height: 100%;
}

/* PC用 */
@media (min-width: 960px) {
	.u-topService {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}

    .u-topAbout__circleText {
        font-size: 2em;
    }

    .u-topService__link:hover {
        box-shadow: none;
    }
}


/* サービス */
.swell-block-fullWide.alignfull:has(.u-topService) {
	background-color: var(--local-main-bg);
}

.u-topService {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
    list-style: none;
    padding-left: 0;
    width: 100%;
}

.u-topService__item {
    height: 100%;
    text-align: center;
} 

.u-topService__link {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    background-color: #fff;
    padding: 24px;
    text-decoration: none;
    transition: box-shadow .2s;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    color: #333;
    height: 100%;
}

.u-topService__title {
    color: #427f05;
    font-size: 1.125em;
}

.u-topService__media {
    height: 80px;
}

.u-topService__image {
    height: 100%;
}

/* PC用 */
@media (min-width: 960px) {
	.u-topService {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}

    .u-topService__link:hover {
        box-shadow: none;
    }
}

/* 強み */
.u-topFeature {
    max-width: 550px;
    margin-inline: auto;
}

.u-topFeature__layout {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 50px 1fr;
    gap: 24px 32px;
}

.u-topFeature__layout::after {
    content: '';
    background-image: url('/wp-content/uploads/2024/09/icon_multiply.svg');
    background-size: contain;
    background-position: center;
    width: 50px;
    height: 50px;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin: auto;
}

.u-topFeature__content {
    position: relative;
    display: grid;
    text-align: center;
}

.u-topFeature__content::after,
.u-topFeature__contentInner {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: 100%;
    height: 100%;
}

.u-topFeature__content::after {
    content: "";
    padding-top: 100%;
    background-color: #fff;
    border-radius: 25em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
}

.u-topFeature__contentInner {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    justify-content: center;
    padding: 42px;
    z-index: 1;
}

.u-topFeature__title {
    color: var(--local-main-color);
    font-size: 1.7em;
}

@media (min-width: 960px) {
    .u-topFeature {
        max-width: none;
    }

    .u-topFeature__layout {
        grid-template-columns: 1fr 50px 1fr;
        grid-template-rows: 1fr;
    }

    .u-topFeature__layout::after {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
}

/* 
 * サービスTOP
 */
.u-service-layout {
    display: grid;
    row-gap: 16px;
    grid-template-columns: 1fr;
}

.u-service-layout > .wp-block-media-text__media,
.u-service-layout > .wp-block-media-text__content {
    grid-column: 1 / 2;
}

.u-service-layout > .wp-block-media-text__media {
    grid-row: 1 / 2;
}

.u-service-layout > .wp-block-media-text__content {
    grid-row: 2 / 3;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
    background-color: #fff;
    padding: 32px !important;
}

@media (min-width: 960px) {
    .u-service-layout {
        grid-template-rows: 203px 1fr auto;
        grid-template-columns: 43.3333333333% 130px auto;
        gap: 0;
        row-gap: 0;
        margin-bottom: 48px;
    }

    .u-service-layout > .wp-block-media-text__media {
        grid-row: 1 / 3;
        grid-column: 1 / 3;
    }
    
    .u-service-layout > .wp-block-media-text__content {
        grid-row: 2 / 4;
        grid-column: 2 / 4;
    }
}


/* 
 * サービス詳細
 *
/* こんな悩みないですか？ */
.u-service-layout {
    display: grid;
    row-gap: 16px;
    grid-template-columns: 1fr;
}

.u-service-layout > .wp-block-media-text__media,
.u-service-layout > .wp-block-media-text__content {
    grid-column: 1 / 2;
}

.u-service-layout > .wp-block-media-text__media {
    grid-row: 1 / 2;
}

.u-service-layout > .wp-block-media-text__content {
    grid-row: 2 / 3;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
    background-color: #fff;
    padding: 32px !important;
}

@media (min-width: 960px) {
    .u-service-layout {
        grid-template-rows: 203px 1fr auto;
        grid-template-columns: 43.3333333333% 230px auto;
        gap: 0;
        margin-bottom: 48px;
        row-gap: 0;
    }

    .u-service-layout > .wp-block-media-text__media {
        grid-row: 1 / 3;
        grid-column: 1 / 3;
    }
    
    .u-service-layout > .wp-block-media-text__content {
        grid-row: 2 / 4;
        grid-column: 2 / 4;
    }
}

/* 
 * サービスTOP
 */
.u-service-layout {
    display: grid;
    row-gap: 16px;
    grid-template-columns: 1fr;
}

.u-service-layout > .wp-block-media-text__media,
.u-service-layout > .wp-block-media-text__content {
    grid-column: 1 / 2;
}

.u-service-layout > .wp-block-media-text__media {
    grid-row: 1 / 2;
}

.u-service-layout > .wp-block-media-text__content {
    grid-row: 2 / 3;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
    background-color: #fff;
    padding: 32px !important;
}

@media (min-width: 960px) {
    .u-service-layout {
        grid-template-rows: 203px 1fr auto;
        grid-template-columns: 43.3333333333% 230px auto;
        gap: 0;
        margin-bottom: 48px;
        row-gap: 0;
    }

    .u-service-layout > .wp-block-media-text__media {
        grid-row: 1 / 3;
        grid-column: 1 / 3;
    }
    
    .u-service-layout > .wp-block-media-text__content {
        grid-row: 2 / 4;
        grid-column: 2 / 4;
    }
}

/* 
 * サービス詳細
 *
/* こんな悩みないですか？ */
.u-serviceWorry {
    --wp-column-gap: 64px;
    display: grid;
    padding-top: 50px;
}

.u-serviceWorry > .wp-block-column {
    display: grid;
    row-gap: 16px;
    position: relative;
    padding: 48px 24px 24px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
}

.u-serviceWorry .wp-block-image {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 0;
    left: 50%;
    margin-bottom: 0;
}

.u-serviceWorry .wp-block-image img {
    width: auto !important;
    height: 100px !important;
    padding: 16px;
    background-color: #fff;
}

.u-serviceWorry > .wp-block-column p {
    margin-bottom: 0;
}

@media (min-width: 960px) {
    .u-serviceWorry {
        --wp-column-gap: 24px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto 1fr;
    }

    .u-serviceWorry:has(.wp-block-column:nth-child(3)) {
        grid-template-columns: repeat(3, 1fr);
    }

    .u-serviceWorry > .wp-block-column {
        display: grid;
        grid-template-rows: subgrid;
        grid-template-columns: 1fr;
        grid-row: 1 / 3;
    }

    .u-serviceWorry > .wp-block-column p:nth-of-type(1){
        grid-row: 1 / 2;
    }

    .u-serviceWorry > .wp-block-column p:nth-of-type(2){
        grid-row: 2 / 3;
    }
}

/* 重要性 */
.u-serviceImportant .swell-block-step__item::before {
    display: none;
}

/*************************
制作実績一覧のタイトル
***************************/
#body_wrap.archive  #top_title_area {
		align-items: center;
    display: flex;
    margin: 0;
    min-height: 11em;
    overflow: hidden;
    padding: 1.5em 0;
    position: relative;
    width: 100%;
}

#body_wrap.archive  .l-topTitleArea__body.l-container {
    color: #fff;
    position: relative;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .1);
    width: 100%;
    z-index: 3;
}

@media (min-width: 600px) {
    #body_wrap.archive  #top_title_area {
        min-height: 240px;
        padding: 1em 0;
    }
}

/*************************
お問い合わせフォーム
***************************/
.u-contact {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
}

.u-contact__inputArea > p {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.u-contact__inputArea label {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}

.u-contact__inputArea label > span:first-child {
    font-weight: bold;
    color: var(--local-main-color);
}

.u-contact__inputArea label > span:last-child > input,
.u-contact__inputArea label > span:last-child > textarea {
    width: 100%;
    background-color: transparent;
    border-radius: 8px;
    border: 1px solid #000;
    padding: 8px 12px;
}

.u-contact__checkArea >  p {
    display: flex;
    width: fit-content;
    margin-inline: auto;
    flex-direction: column;
    font-weight: bold;
}

.u-contact__checkArea > p .wpcf7-list-item {
    margin-left: 0;
}

/* ラベル */
.u-contact__checkArea > p .wpcf7-list-item > label {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

/* チェックボックス */
.u-contact__checkArea > p .wpcf7-list-item > label > input[type="checkbox"] {
    /* 初期化 */
    -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

    position: relative;
    border-radius: 4px;
    width: 18px;
    height: 18px;
    border: 1px solid var(--local-main-color);
    background-color: #fff;
    padding: 0;
}

.u-contact__checkArea > p .wpcf7-list-item > label > input[type="checkbox"]:checked:before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    rotate: -45deg;
    width: 12px;
    height: 8px;
    border-left: 2px solid var(--local-main-color);
    border-bottom: 2px solid var(--local-main-color);
}

.u-contact__buttonArea > p {
    display: flex;
    justify-content: center;
    align-items: center;
}